/*
 * Ok, I believe that HTML output from widgets and
 * shortcodes, when possible, should be left unstyled
 * to allow the theme deal with that, specially forms!
 *
 * But we DO have some styles to define for UX purposes:
 */

.emmanuels-lead-generator-form {
    position: relative;
}

.emmanuels-lead-generator-form input,
.emmanuels-lead-generator-form textarea {
    width: 100%;
    padding: 0.5em;
}

.emmanuels-lead-generator-form .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
}

.emmanuels-lead-generator-form .overlay.active {
    background-color: rgb( 255, 255, 255 );
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 1;
}
